$primary-color : #00B686;
$primary-heading-color : #04433B;
$secondary-heading-color : #233735;
$sidebar-links-color : #7B8786;
$tabs-links-color : #657372;
$primary-background-color: #F2FBF9;
$primary-border-color : #E9EBEB;

//Screen Sizes
$mobile : 460px;
$tablet : 720px;